%table.table
  %thead
    %tr
      %th= Category.human_attribute_name(:name)
      %th= Expense.human_attribute_name(:amount)
  - @top_categories.each do |category, total_amount|
    %tr
      %td= category&.name || I18n.t('no_category')
      %td= format_amount(total_amount)
